html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 56px 0 45px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;

        &-line {
            height: 3px;
            width: 50px;
            background-color: #0a2640;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &__list {
        display: flex;
        gap: 40px;

        &-link {
            font-weight: 600;
            color: #0a2640;
            transition: color .2s ease-in-out;

            &:hover {
                color: #65e4a3;
            }
        }
    }

    &__btn {
        padding: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #0a2640;
        width: 128px;
        height: 40px;
        border: 2px solid #0a2640;
        border-radius: 24px;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: #65e4a3;
            border-color: transparent;
        }
    }
}

.blog {
    padding-top: 20px;

    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        color: #0a2640;
        text-align: center;
        margin-bottom: 12px;
    }

    &__title {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 64px;
        line-height: 84px;
        color: #0a2640;
        text-align: center;
        max-width: 900px;
        width: 100%;
        margin: 0 auto 68px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 72px;
        border-bottom: 1px solid #0a2640;

        &-img {
            max-width: 550px;
            width: 100%;
            margin-right: 100px;
            border-radius: 24px;
        }

        &-info {
            max-width: 550px;
            width: 100%;
        }

        &-wrapper {
            display: flex;
            margin-bottom: 12px;
        }

        &-category {
            font-weight: 700;
            color: #0a2640;
            margin-right: 12px;
        }

        &-date {
            color: #777;
        }

        &-title {
            font-family: 'Manrope', sans-serif;
            font-weight: 400;
            font-size: 48px;
            line-height: 72px;
            margin-bottom: 20px;
        }

        &-author {
            display: flex;
            align-items: center;
        }
        
        &-icon {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            border-radius: 50%;
        }
    }
}

.news {
    padding: 96px 0 124px 0;

    &__title {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        color: #000;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto 40px;
    }

    &__items {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto 90px;
        display: flex;
        justify-content: center;
        gap: 80px 50px;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 300px;
        width: 100%;

        a {
            display: block;
        }

        &-img {
            width: 100%;
            border-radius: 24px;
            vertical-align: middle;
        }

        &-wrapper {
            display: flex;
            margin-bottom: 12px;
            margin-top: 24px;
        }

        &-category {
            font-weight: 700;
            color: #0a2640;
            margin-right: 12px;
        }

        &-date {
            color: #777;
        }

        &-title {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #000;
            min-height: 100px;
            margin-bottom: 20px;
        }

        &-author {
            display: flex;
            align-items: center;
        }

        &-icon {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            border-radius: 50%;
        }
    }

    &__btn {
        padding: 0;
        width: 219px;
        height: 60px;
        border-radius: 56px;
        border: 2px solid #0a2640;
        transition: all .2s ease-in-out;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #0a2640;
        display: block;
        margin: 0 auto;

        &:hover {
            background-color: #65e4a3;
            border-color: transparent;
        }
    }
}

.action {
    margin-bottom: 80px;

    &__inner {
        background: url("../images/action.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 12px;
        padding: 72px 0;
    }

    &__title {
        max-width: 716px;
        width: 100%;
        margin: 0 auto 48px;
        text-align: center;
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 72px;
        color: #fff;
    }

    &__form {
        text-align: center;

        &-email {
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            line-height: 32px;
            color: #000;
            padding: 0 32px;
            border-radius: 56px;
            border: none;
            background-color: #fff;
            max-width: 370px;
            width: 100%;
            height: 56px;
            outline-color: #65e4a3;
            margin-right: 24px;

            &::placeholder {
                color: #000;
            }
        }

        &-btn {
            padding: 0;
            border-radius: 56px;
            max-width: 210px;
            width: 100%;
            height: 56px;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #0a2640;
            background-color: #65e4a3;
            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: #2bd07c;
            }
        }
    }
}

.footer {
    padding: 105px 0 117px 0;

    &__inner {
        display: flex;
    }

    &__info {
        max-width: 300px;
        width: 100%;
        margin-right: 179px;

        &-text {
            color: #777;
        }
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__columns {
        display: flex;
        gap: 96px;
    }

    &__column {
        width: 150px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    &__list-item {
        &--special {
            position: relative;
        }
    }

    &__list-caption {
        position: absolute;
        right: -10px;
        top: 1px;
        font-weight: 700;
        font-size: 13px;
        line-height: 28px;
        color: #0a2640;
        background-color: #65e4a3;
        width: 72px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 120px;
    }

    &__list-item + &__list-item {
        margin-top: 32px;
    }

    &__list-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #777;
        transition: color .2s ease-in-out;

        &:hover {
            color: #65e4a3;
        }
    }

    &__rights {
        color: #777;
        margin-top: -5px;
    }
}


@media screen and (max-width: 1200px) {
    .blog__title {
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 50px;
    }

    .blog__item-img {
        margin-right: 50px;
    }

    .blog__item-title {
        font-size: 34px;
        line-height: 58px;
    }

    .footer__inner {
        justify-content: space-between;
    }

    .footer__info {
        margin-right: 0;
    }

    .footer__columns {
        gap: 80px;
    }
}

@media screen and (max-width: 992px) {
    .blog__item {
        flex-direction: column;
    }

    .blog__item-img {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .footer__info {
        margin-right: 30px;
    }

    .footer__columns {
        gap: 60px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer__column {
        width: 160px;
    }

    .footer__list-caption {
        right: 0;
    }

    .footer__rights {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 30px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 100;
    }

    .header__burger {
        display: flex;

        &-line {
            transition: all .3s ease-in-out;
        }

        &.active &-line:nth-child(1) {
            transform: rotate(45deg) translate3d(11px, 10px, 0);
        }

        &.active &-line:nth-child(2) {
            opacity: 0;
        }

        &.active &-line:nth-child(3) {
            transform: rotate(-45deg) translate3d(16px, -16px, 0);
        }
    }

    .menu {
        left: -100%;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        background-color: #0a2640;
        padding: 50px 40px;
        width: 60%;
        border-bottom-right-radius: 12px;
        transition: all .4s ease-in-out;

        &.active {
            visibility: visible;
            left: 0;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__list-link {
            color: #fff;
            font-size: 20px;
            line-height: 32px;
        }

        &__btn {
            color: #fff;
            border-color: #fff;
            font-size: 20px;
            line-height: 28px;
            height: 50px;
            transition: all 0s linear;       

            &:hover {
                background-color: transparent;
                border-color: #fff;
            }
        }
    }

    .blog {
        padding-top: 130px;
    }

    .news {
        padding: 70px 0 90px 0;
    }

    .news__items {
        gap: 60px 30px;
        margin-bottom: 70px;
    }

    .action {
        &__inner {
            padding: 72px 20px;
        }

        &__title {
            font-size: 38px;
            line-height: 50px;
        }

        &__form {
            max-width: 550px;
            width: 100%;
            margin: 0 auto;

            &-email {
                margin-right: 0;
                margin-bottom: 20px;
                padding: 0 20px;
            }
        }
    }

    .footer {
        padding: 70px 0 70px 0;

        &__inner {
            flex-direction: column;
        }

        &__info {
            margin-right: 0;
            margin-bottom: 50px;
            max-width: 330px;
        }

        &__columns {
            justify-content: flex-start;
            gap: 75px;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 680px) {
    .news__item {
        max-width: 450px;

        &-title {
            min-height: auto;
        }
    }

    .news__title {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }

    .menu {
        width: 70%;
    }

    .blog__item {
        padding-bottom: 40px;

        &-img {
            margin-bottom: 30px;
        }

        &-title {
            font-size: 24px;
            line-height: 38px;
        }
    }

    .blog__title {
        font-size: 35px;
        line-height: 55px;
        margin-bottom: 30px;
    }

    .news {
        padding: 50px 0 50px 0;

        &__title {
            font-size: 34px;
            line-height: 54px;
            margin-bottom: 30px;
        }

        &__items {
            gap: 50px;
            margin-bottom: 50px;
        }

        &__item-wrapper {
            margin-top: 20px;
            font-size: 14px;
            line-height: 20px;
        }

        &__item-title {
            font-size: 18px;
            line-height: 26px;
        }

        &__item-name {
            font-size: 14px;
            line-height: 22px;
        }

        &__btn {
            height: 50px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .action {
        margin-bottom: 50px;

        &__title {
            font-size: 30px;
            line-height: 40px;
        }

        &__form-email {
            font-size: 16px;
            line-height: 28px;

            &::placeholder {
                font-size: 16px;
                line-height: 28px;
            }
        }

        &__form-btn {
            height: 50px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .footer {
        padding: 50px 0 50px 0;

        &__columns {
            gap: 50px 10px;
            justify-content: space-between;
        }

        &__column {
            width: 150px;
        }

        &__title {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 30px;
        }

        &__list-link {
            font-size: 18px;
            line-height: 30px;
        }

        &__list-item + &__list-item {
            margin-top: 24px;
        }
    }
}